<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.walnut.api.data.docare.mapper.medsurgery.MedAnesthesiaPlanMapper">
    <resultMap id="map" type="com.kaos.walnut.api.data.docare.entity.medsurgery.MedAnesthesiaPlan">
        <id column="PATIENT_ID" jdbcType="VARCHAR" property="patientId"/>
        <id column="VISIT_ID" jdbcType="INTEGER" property="visitId"/>
        <id column="OPER_ID" jdbcType="INTEGER" property="operId"/>
        <result column="ASA_GRADE" jdbcType="VARCHAR" property="asaGrade"/>
    </resultMap>

    <sql id="item">
        PATIENT_ID,
        VISIT_ID,
        OPER_ID,
        ASA_GRADE
    </sql>

    <select id="selectByMultiId" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            MEDSURGERY.MED_ANESTHESIA_PLAN
        <where>
            <if test="true">
                AND PATIENT_ID = #{patientId}
            </if>
            <if test="true">
                AND VISIT_ID = #{visitId}
            </if>
            <if test="true">
                AND OPER_ID = #{operId}
            </if>
        </where>
    </select>
</mapper>