<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.walnut.api.data.his.mapper.kaos.EscortMainInfoMapper">
    <resultMap id="map" type="com.kaos.walnut.api.data.his.entity.kaos.EscortMainInfo">
        <id column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo" />
        <result column="PATIENT_CARD_NO" jdbcType="VARCHAR" property="patientCardNo" />
        <result column="HAPPEN_NO" jdbcType="INTEGER" property="happenNo" />
        <result column="HELPER_CARD_NO" jdbcType="VARCHAR" property="helperCardNo" />
        <result column="OPER_DATE" jdbcType="DATE" property="operDate" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <sql id="item">
        ESCORT_NO,
        PATIENT_CARD_NO,
        HAPPEN_NO,
        HELPER_CARD_NO,
        OPER_DATE,
        REMARK
    </sql>

    <select id="selectByPatient" resultMap="map">
        SELECT
        <include refid="item" />
        FROM
            (
                SELECT
                    T1.*,
                    T2.STATE,
                    ROW_NUMBER() OVER (PARTITION BY T2.ESCORT_NO ORDER BY T2.REC_NO DESC) AS IDX
                FROM
                    KAOS.ESCORT_MAIN_INFO T1
                    LEFT JOIN KAOS.ESCORT_STATE_REC T2 ON T2.ESCORT_NO = T1.ESCORT_NO
                WHERE
                    PATIENT_CARD_NO = #{cardNo}
            )
        WHERE
            IDX = 1
        <if test="valid != null and valid">
            AND STATE != ${@com.kaos.walnut.api.data.his.entity.kaos.EscortStateRec$EscortStateEnum@注销.getValue()}
        </if>
        <if test="valid != null and !valid">
            AND STATE = ${@com.kaos.walnut.api.data.his.entity.kaos.EscortStateRec$EscortStateEnum@注销.getValue()}
        </if>
    </select>

    <select id="selectByHelper" resultMap="map">
        SELECT
        <include refid="item" />
        FROM
            (
                SELECT
                    T1.*,
                    T2.STATE,
                    ROW_NUMBER() OVER (PARTITION BY T2.ESCORT_NO ORDER BY T2.REC_NO DESC) AS IDX
                FROM
                    KAOS.ESCORT_MAIN_INFO T1
                    LEFT JOIN KAOS.ESCORT_STATE_REC T2 ON T2.ESCORT_NO = T1.ESCORT_NO
                WHERE
                    HELPER_CARD_NO = #{cardNo}
            )
        WHERE
            IDX = 1
        <if test="valid != null and valid">
            AND STATE != ${@com.kaos.walnut.api.data.his.entity.kaos.EscortStateRec$EscortStateEnum@注销.getValue()}
        </if>
        <if test="valid != null and !valid">
            AND STATE = ${@com.kaos.walnut.api.data.his.entity.kaos.EscortStateRec$EscortStateEnum@注销.getValue()}
        </if>
    </select>
</mapper>