<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.his.mapper.xyhis.FinComElectronicInvoiceMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.his.entity.xyhis.FinComElectronicInvoice">
        <id column="INVOICE_NO" jdbcType="VARCHAR" property="invoiceNo" />
        <id column="TRANTYPE" jdbcType="VARCHAR" property="transType" />
        <result column="BILLBATCHCODE" jdbcType="VARCHAR" property="billBatchCode" />
        <result column="BILLNO" jdbcType="VARCHAR" property="billNo" />
        <result column="RANDOM" jdbcType="VARCHAR" property="random" />
        <result column="BILLQRCODE" jdbcType="VARCHAR" property="billQRCode" />
        <result column="PICTUREURL" jdbcType="VARCHAR" property="picUrl" />
        <result column="OPERDATE" jdbcType="VARCHAR" property="operDate" />
        <result column="STATE" jdbcType="VARCHAR" property="state" />
        <result column="SUCCESSSTATE" jdbcType="VARCHAR" property="successState" />
        <result column="BUSINESSTYPE" jdbcType="VARCHAR" property="businessType" />
        <result column="SOURCE" jdbcType="VARCHAR" property="sourceType" />
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo" />
        <result column="OPERID" jdbcType="VARCHAR" property="operCode" />
        <result column="BUS_NO" jdbcType="VARCHAR" property="busNo" />
        <result column="WRITEOFFREASON" jdbcType="VARCHAR" property="writeOffReason" />
        <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    </resultMap>

    <sql id="item">
        INVOICE_NO,
        BILLBATCHCODE,
        BILLNO,
        RANDOM,
        BILLQRCODE,
        PICTUREURL,
        OPERDATE,
        STATE,
        SUCCESSSTATE,
        TRANTYPE,
        BUSINESSTYPE,
        SOURCE,
        CARD_NO,
        OPERID,
        BUS_NO,
        WRITEOFFREASON,
        CREATE_DATE
    </sql>

    <select id="selectByMultiId" resultMap="map">
        SELECT
        <include refid="item" />
        FROM
            XYHIS.FIN_COM_ELECTRONICINVOICE
        <where>
            <if test="true">
                AND INVOICE_NO = #{invoiceNo}
            </if>
            <if test="true">
                AND TRANTYPE = #{transType}
            </if>
        </where>
    </select>
</mapper>