<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.walnut.api.data.his.mapper.SequenceMapper">
    <select id="query" parameterType="string" resultType="string">
        SELECT
            ${seqName}.NEXTVAL
        FROM
            DUAL
    </select>
</mapper>